.Productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.productdisplay-img-list img{
   height: 163px;
}
.productdisplay-main-img{
    height: 586 px;
    width: 700px;
 }
 .productdisplay-right{
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
}
.productdisplay-right h1{
   font-weight: 700;
   color: #3d3d3d;
   font-size: 40px;
} 
.productdisplay-right-star{
    align-items: center;
    font-size: 16px;
    display: flex;
    color: #1c1c1c;
    margin-top: 13px;
    gap: 5px;

 } 
 .productdisplay-right-price{
    font-size: 24px;
    display: flex;
    font-size: 700;
    margin:0px 40px;
    gap: 30px;

 } 
 .productdisplay-right-price-old{
    text-decoration: line-through;
    color: #818181;

 } 
 .productdisplay-right-price-new{
    
    color: #ff4141;

 } 
 .productdisplay-right-size h1{
    
    color: #656565;
    margin-top: 55px;
    font-size: 20px;
    font-weight: 600;

 } 
 .productdisplay-right-size {
    
    margin: 30px 0px;
    gap: 20px;
    display: flex;
 } 
 .productdisplay-right-size div{
    padding: 18px 24px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    display: flex;
    background-color: #fbfbfb;
    border: radius 3px;
 } 
 
 .productdisplay-right button{
    padding: 20px 40px;
   
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    
    background-color: #ff4141;
   
    border:none;
 outline: none;
 margin-bottom: 40px;
 } 

 .productdisplay-right-category span{
    font-weight: 600;
 } 
 .productdisplay-right-category {
  margin-top: 10px;
 } 

 @media(max-width:1280px){
   .Productdisplay{
      margin: 0px 60px;
   }
   .productdisplay-left{

      gap: 10px;

   }
   .productdisplay-img-list{
      gap: 10px;

   }
   .productdisplay-img-list img{
      height: 120px;
   }
   .productdisplay-main-img{
      width: auto;
      height: 510px;
   }
   .productdisplay-right{
      margin: 0px 30px;
   }
   .productdisplay-right h1{
      font-size: 22px;
   }
   .productdisplay-right-star{
      gap: 3px;
      font-size: 13px;
   }
   .productdisplay-right-price{
      margin: 10px 0px;
      font-size: 18px;
   }
   .productdisplay-right-description{
      font-size: 13px;

   }
   .productdisplay-right-size h1{
      margin-top: 20px;
      font-size: 20px;
   }
   .productdisplay-right-size div{
      padding: 14px 20px;
   }
   .productdisplay-right button{
      width: 150px;
      padding: 15px 0px;
      margin-bottom: 20px;
   }
   .productdisplay-right-category{
      margin-top: 5px;
      font-size: 14px;
   }

   
}

@media(max-width:1024px){
   .Productdisplay{
      margin: 0px 30px;
   }
   .productdisplay-left{

      gap: 5px;

   }
 
   .productdisplay-img-list img{
      height: 80px;
   }
   .productdisplay-main-img{
      
      height: 360px;
   }
  
   .productdisplay-right h1{
      font-size: 18px;
   }
   .productdisplay-right-star img{
      width: 15px;
   }
   
   .productdisplay-right-description{
      font-size: 12px;

   }
   .productdisplay-right-size{
      margin: 10px 0px;

   }
  
   .productdisplay-right-size div{
      padding: 10px 16px;
      font-size: 12px;
   }
   .productdisplay-right button{
      width: 120px;
      padding: 10px 0px;
      margin-bottom: 10px;
      font-size: 14px;
   }
   .productdisplay-right-category{
      
      font-size: 12px;
   }

   
}

@media(max-width:800px){
   .Productdisplay{
      margin: 0px 10px;
   }
   .productdisplay-left{
     align-items: center;
      gap: 0px;
      flex-direction: column-reverse;

   }
   .productdisplay-img-list {
      flex-direction: row;
   
       gap: 6px;
   }
 
   .productdisplay-img-list img{
      height: 70px;
   }
   .productdisplay-main-img{
      
      height: 300px;
   }
  
   .productdisplay-right h1{
      font-size: 14px;
   }
   .productdisplay-right-star img{
      width: 13px;
   }
   
   .productdisplay-right-description{
      font-size: 10px;

   }
   .productdisplay-right-size h1{
      margin-top: 10px ;
   }
   .productdisplay-right-size{
      margin: 10px ;
      gap: 5px;

   }
  
   .productdisplay-right-size div{
      padding: 4px 11px;
      
   }
   .productdisplay-right button{
      width: 100px;
      
      font-size: 12px;
   }
   .productdisplay-right-category{
      
      font-size: 10px;
   }

   
}
@media(max-width:500px){
   .Productdisplay{
    flex-direction: column;
   }
   .productdisplay-left{
     margin: auto;
      gap: 10px;
      flex-direction: column;

   }
   .productdisplay-img-list {
      flex-direction: column;
   
       gap: 8px;
   }
 
   .productdisplay-img-list img{
      height: 75px;
   }
   .productdisplay-main-img{
      
      height: 330px;
   }
  
   .productdisplay-right {
    margin: 5px;
   }
   .productdisplay-right h1{
      margin-top: 15px;
      font-size: 20px;
      font-weight: 500;

   }
   .productdisplay-right-star img{
      width: 15px;
   }
   
   
   .productdisplay-right-size h1{
      margin-top: 10px ;
   }
   .productdisplay-right-size{
      margin: 20px 0px;
      gap: 10px;

   }
  
   .productdisplay-right-size div{
      padding: 10px 16px;
      font-size: 14px;
      
   }
   .productdisplay-right button{
      width: 130px;
      padding: 12px 0px;
      font-size: 15px;
   }
   .productdisplay-right-category{
      
      font-size: 16px;
   }

   
}